<section id="{{id}}" class="section">
	<h2 class="section-title">{{name}}</h2>
	<p class="section-intro">{{intro}}</p>
	{{#if project-url}}
	<a class="section-link" href="{{project-url}}" target="_blank">Launch<span class="visually-hidden"> {{name}}</span></a>
	{{/if}}
</section>